@font-face {
  font-family: 'Big Caslon';
  src: url(../fonts/Adobe-Caslon-Pro_2006.ttf) format('truetype');
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url(../fonts/HelveticaNeue.ttf) format('truetype');
}

body {
    margin: 0;
    background-color: #C39D7D;
    overflow: scroll;
  }
