body {
    background-color: #C39D7D;
    overflow: scroll;
}

/* For iPhone X - App solution */
@media screen 
    and (max-width : 812px) {

    .productCard {
        display: grid;
        grid-template-columns: 3fr 5fr 1fr;
        grid-template-rows: repeat(4, 1fr);
        font-family: avenir;
        width: 97%;
        height: 150px;
        background-color: rgba(77, 77, 77, 0.244);
        border-radius: 5px;
        margin: 5px;
    }

    img {
        grid-column: 1 / 2;
        grid-row: 1 / span 4;
        margin: 10px;
        margin-top: 15px;
        border-radius: 50%;
        width: 120px;
        height: 120px;
    }

    .productTitle {
        text-transform: uppercase;
        font-size: small;
        grid-column: 2 / 3;
        grid-row: 2;
        margin-bottom: 0px;
    }

    .productPrice {
        font-size: small;
        text-transform: capitalize;
        margin-top: 0px;
        grid-column: 2 / 3;
        grid-row: 3;
    }
}