@font-face {
  font-family: 'Big Caslon';
  src: url(../fonts/Adobe-Caslon-Pro_2006.ttf);
}

@font-face {
  font-family: 'Big Caslon Semi Bold';
  src: url(../fonts/Adobe-Caslon-Pro-Semibold_2005.ttf);
}

body {
    margin: 0;
    background-color: #C39D7D;
    overflow: scroll;
  }
