/* For iPhone X - App solution */
@media screen and (max-width : 812px) {

  #menuCardContainer{
    display: grid;
    grid-row-gap: 0px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    font-family: 'Playfair Display';
    font-size: xx-large;
    font-weight: 600;
    margin: 0px;
  }

  #coffeeContainer, #drinksContainer, #foodContainer {
    position: relative;
    text-align: center;
    color: rgb(60, 60, 60);
    width: 375px;
    height: 254px;
    background-size: cover;
    background-repeat: no-repeat;
  }

  #coffeeContainer{
    background-image: linear-gradient(
      rgba(255, 255, 255, 0.45), 
      rgba(255, 255, 255, 0.45)),
       url(../img/app_POS/Hot-drinks.jpeg);
    grid-column: 1;
    grid-row: 1;
  }

  #drinksContainer{
    background-image: linear-gradient(
      rgba(255, 255, 255, 0.45), 
      rgba(255, 255, 255, 0.45)),
      url(../img/app_POS/Cold-drinks.jpeg);
    grid-column: 1;
    grid-row: 2;
  }

  #foodContainer{
    background-image: linear-gradient(
      rgba(255, 255, 255, 0.45), 
      rgba(255, 255, 255, 0.45)),
      url(../img/app_POS/food.jpeg);
    grid-column: 1;
    grid-row: 3;
  }

  .mainMenuText {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}