
@media screen and (max-width : 812px) {

    .morepage {
        min-height: 47em;
        position: relative;
    }

    .more-container{
        width: 97%;
        height: 97%;
        left: 50%;
        top: 50%;
        position: absolute;
        -webkit-transform: translate3d(-50%, -50%, 0);
        -moz-transform: translate3d(-50%, -50%, 0);
        transform: translate3d(-50%, -50%, 0);
        background-color: rgba(77, 77, 77, 0.244);
        text-align: center;
        border-radius: 5px;
        font-family: 'Playfair Display';
        color: rgb(37, 37, 37);
    }

    .more-container>h2 {
        font-size: 35px;
        font-weight: 700;
        font-variant: small-caps;
    }

    #settingsIcon {
        justify-self: center;
        width: 170px;
        margin-bottom: 2em;
    }

    #hrMore {
        width: 80%;
        height: 1px;
        border: none;
        background-color: rgb(28, 28, 28);
        margin-bottom: 5em;
    }
    
    .more-options > button {
        font-family: 'Montserrat';
        text-transform: capitalize;
        font-variant: normal;
        color: white;
        background-color: rgb(28, 28, 28);
        border-radius: 5px;
        bottom: 0px;
        height: 3em;
        width: 25em;
        margin: 0.5em;
    }
}