/* For iPad Pro - POS solution */
@media screen and (min-width: 813px) {
  /* Styles for the main bar */
  nav {
    font-family: "Montserrat";

    background-color: #454545;
    color: white;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 1fr 1fr 1fr;
    text-align: center;
    height: 60px;
    width: 100%;
    position: sticky;
    bottom: 0px;
  }

  /* To arrange icons and text */
  nav > button {
    background-color: #454545;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
    color: white;
    border: none;
  }

  nav > button:focus {
    border: 1px solid black;
    outline: 0;
    background-color: #2e2e2e;
  }

  .POS_Footer > p {
    margin-top: 25px;
  }

  /* Icon Customization */
  nav > button.POS_Footer > img {
    height: 30px;
    margin-top: 15px;
    margin-left: 90px;
  }

  /* Custom settings because of larger icon */
  #food > img {
    height: 20px;
    margin-left: 70px;
    margin-top: 22px;
  }

  /* Settings for non-categorical icons */
  nav > button.POS_Footer > img.POS_Button {
    margin-left: 50px;
  }
}
