/* For iPad Pro - POS solution */
@media screen and (min-width: 813px) {
  /* Styles for the main bar */
  nav {
    font-family: "Montserrat";

    background-color: #454545;
    color: white;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 1fr 1fr 1fr;
    text-align: center;
    height: 60px;
    width: 100%;
    position: sticky;
    bottom: 0px;
  }

  /* To arrange icons and text */
  .POS_Footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
  }

  .POS_Footer > p {
    margin-top: 25px;
  }

  /* Icon Customization */
  nav > div.POS_Footer > img {
    height: 30px;
    margin-top: 15px;
    margin-left: 90px;
  }

  /* Custom settings because of larger icon */
  #food > img {
    height: 20px;
    margin-left: 70px;
    margin-top: 22px;
  }

  /* Settings for non-categorical icons */
  nav > div.POS_Footer > img.POS_Button {
    margin-left: 50px;
  }

  /* Optional Borders */
  /*
  nav {
    border: 1px solid black;
  }

  .POS_Footer {
    border-left: 1px solid black;
  }

  #home {
    border-width: 0px;
  }
  */
}
