/* For iPhone X - App solution */
@media screen and (min-width : 813px) {

    .productCard {
        display: grid;
        grid-template-columns: 3fr 5fr 2fr;
        grid-template-rows: repeat(4, 1fr);
        width: 97%;
        height: 150px;
        background-color: rgba(77, 77, 77, 0.244);
        border-radius: 5px;
        margin: 5px;
    }
}