/* For iPhone X - App solution */
@media screen and (min-width : 813px) {

    .posProductCardContainer {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(4, 1fr);
        width: 70%;
        height: 70%;
        max-height: 677px;
        overflow-y: scroll;
    }

    .posProductImage {
        margin: 10px;
        border-radius: 50%;
        width: 70px;
        height: 70px;
    }
}