.single-view-container{
    display: grid;
    grid-template-columns: 1fr, 1;
    justify-content: center;
    text-align: center;
}

    /* Styling for return-button on single product*/
.return-button{
    margin: 10px;
    border: solid 1px black;
    height: 25px;
    border-radius: 5px;
    background-color: rgb(138, 115, 115);
}