#headerMainBar {
  border-bottom: 1px solid black;
}

#currentPageText {
  color: black;
  display: grid;
  place-items: center;
  font-family: "Montserrat";
  font-variant: small-caps;
  font-size: xx-large;
  font-weight: 600;
  letter-spacing: 5px;
  margin: 14.5px;
}