@media screen and (min-width: 813px) {
  .posMainContainer {
    font-family: 'Montserrat';
    width: 50%;
    left: 50%;
    top: 50%;
    position: absolute;
    -webkit-transform: translate3d(-20%, -20%, 0);
    -moz-transform: translate3d(-0%, -20%, 0);
    transform: translate3d(-90%, -50%, 0);
    text-align: center;
    border-radius: 5px;
    font-family: 'Playfair Display';
    color: rgb(37, 37, 37);
    display: grid;
  }

  .posCalcContainer {
    display: grid;
    grid-template-columns: auto auto;
  }

  #leftDiv {
    display: grid;
    grid-template-rows: 1fr auto;
    background-color: #a27a59;
    border: 2px solid black;
    place-items: center;
  }

  .posMainContainer>.posCalcContainer>#leftDiv>p {
    font-size: 25pt;
    font-weight: bold;
  }

  #rightDiv {
    font-weight: normal;
    font-size: 30pt;
    display: grid;
    place-items: center;
    background-color: #c39d7d;
    border: 2px solid black;
    border-left: none;
    width: auto;
  }

  .posMainContainer>.posCalcContainer>#rightDiv>p {
    position: inline-block;
    font-size: xx-large;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.326);
    color: black;
    padding: 10px;
    margin: 0px;
  }

  .rightBtnContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    width: auto;
    max-height: 400px;
  }

  .leftBtnContainer {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 5px;
    width: 200px;
    height: 300px;
  }

  #calculator-title {
    font-size: small;
  }

  button img {
    width: 30px;
    height: 30px;
  }


  .calculatorButton {
    justify-self: center;
    height: 50px;
    width: 50px;
    margin: 5px;
    font-weight: bold;
    font-size: 16pt;
    background-color: #e6be9d;
    border: 1px solid black;
    border-radius: 5px;
  }

  .calculatorButton>p{
    font-size: x-small;
    font-variant: small-caps;
  }

}