/* For iPhone X - App solution */
@media screen and (max-width : 812px) {

    div.cart {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 3.5em 3.5em;
        margin: 0;
        padding: 0;
        width: 100%;
        min-height: 44.5em;
        color: rgb(37, 37, 37);
    }

    div.productCartContainer {
        grid-column: 1 / span 3;
        grid-row: 1;
    }

    .prodCard {
        display: grid;
        grid-template-columns: 70px 4fr 1fr 2fr;
        grid-template-rows: 2em 1fr 1em;
        width: 96%;
        min-height: 150px;
        background-color: rgba(77, 77, 77, 0.244);
        border-radius: 5px;
        margin: 5px;
        padding: 5px;
    }

    div.itemQ {
        grid-row: 1;
        grid-column: 3;
        text-align: center;
        font-family: 'Playfair Display';
        font-size: x-large;
        text-transform: lowercase;
    }

    div.itemQ>span {
        font-family: 'Montserrat';
        font-style: normal;
        font-size: medium;
    }


    .itemImage {
        grid-column: 1;
        grid-row: 1;
        border-radius: 50px;
        width: 90px;
        height: 90px;
        margin-top: 10px;
        margin-left: 3px;
    }


    ul.itemName {
        grid-column: 2;
        grid-row: 1;
        font-family: 'Playfair Display';
        text-align: left;
        font-variant: small-caps;
        font-size: medium;
        font-weight: 700;
        margin-top: 5px;
        list-style-type: none;
    }

    li.itemSize,
    li.addOns {
        font-family: 'Montserrat';
        font-size: medium;
        font-weight: 400;
        text-transform: capitalize;
    }

    .itemPrice {
        font-size: 17px;
        font-family: 'Playfair Display';
        font-variant: small-caps;
        margin-top: 10px;
    }

    .cartBtnContainer {
        grid-column: 4;
        grid-row: 1 / span 4;
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        text-align: center;
        cursor: pointer;
    }

    div.cartBtnContainer>.discardBtn {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        grid-row: 1 / 3;
        background-color: rgb(28, 28, 28);
        margin: 3px;
        margin-left: 30%;
        margin-top: 70%;
    }

    div.cartBtnContainer>.discardBtn:hover>img {
        transform: scale(1.1);
        -o-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
    }

    .discardBtn>img {
        width: 27px;
        margin-top: 10px;
    }

    .mTotal {
        grid-column: 2;
        grid-row: 2;
        text-align: center;
        font-family: 'Montserrat';
        font-variant: small-caps;
        font-size: 20px;
    }

    .mTotal>span {
        font-family: 'Playfair Display';
    }

    .mCheckoutBtn {
        grid-row: 3;
        grid-column: 2;
        font-family: 'Montserrat';
        width: 25em;
        height: 3em;
        color: white;
        background-color: rgb(28, 28, 28);
        border-radius: 5px;
        outline: none;
        border: none;
    }

    div#moveFooter {
        height: 50px;
        visibility: hidden;
    }
}